h1 {color: lightgreen; font-family: helvetica; font-size: 36px;}
body {background-color: #66ccff}
p {color: lightgreen; font-family: italic bold; font-size: 25px;}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}